body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}
canvas {
    display: block;
    background-color: white;
    background-image: url('https://cdn.discordapp.com/attachments/879557685253664768/1242892319342989372/pxArt_1.png?ex=6654c32c&is=665371ac&hm=7d50e59a366be1564e290f0d7a68fe639b24ccf7a540ce01d83adf4ae31d4c4e&'); /* Add this line */
    background-size: cover; /* Ensure the image covers the entire canvas */
}
#typingBar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Hide initially */
}
input {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}
#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#startScreen button {
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
#endScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hide initially */
    color: white;
}
#endScreen button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}