body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}
/* make text terms appear normal size now*/
canvas {
    display: block;
    height: 80%;
    width: 60%;
    background-color: none;
}
#typingBar {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
input {
    font-size: 16px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}
#inputHistory {
    font-size: 16px;
    margin-top: 20px;
}