/*-----------------------------------*/
/*--- IMPORT STYLES FOR Mortpages ---*/
/*-----------------------------------*/
/*--- CUSTOM STYLES FOR Nighthawkpages ---*/
/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
/*----------------------------------------------------*/
/*----- Styling to change website to look good -------*/
/*----------------------------------------------------*/
body {
  font: 100% Helvetica, sans-serif;
  background-color: #F3F3F3;
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Import Google font - Poppins */
.P-contain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.P-contain div {
  width: calc(33.33% - 20px); /* Adjust for spacing */
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

/* Pre css */
.flex {
  display: flex;
  align-items: center;
}

.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}

.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap onto multiple lines */
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #202124;
  padding: 15px 1px;
  padding-right: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
  color: #FFFFFF;
}

.sidebar.close {
  width: 75px;
}

.logo_name {
  font-size: 22px;
  color: white;
  font-weight: 500px;
  transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}

#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}

#sidebar-close {
  display: none;
  color: #333;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
  display: none;
}

.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}

.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.sidebar.close .title {
  opacity: 0;
}

.menu_title .line {
  position: absolute;
  left: 50%;
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: black;
  transition: all 0.3s ease;
}

.menu_title .line {
  opacity: 0;
}

.sidebar.close .line {
  opacity: 1;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: white !important;
  transition: all 0.4s ease;
}

.link:hover {
  color: #fff;
  background-color: #010101;
  transition: all 0.4s ease;
  text-decoration: none;
}

.link span {
  white-space: nowrap;
}

.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.title {
  color: white !important;
}

.line {
  background: black !important;
  color: black !important;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid black;
}

.sidebar_profile .name {
  font-size: 18px;
  color: black !important;
}

.sidebar_profile .email {
  font-size: 15px;
  color: #FFFFFF;
}

/* Navbar */
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}

.navbar img {
  height: 40px;
  width: 40px;
}

.data_text {
  margin-left: 10px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px #fff solid;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity as needed */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Adjust blur amount as needed */
  border-radius: 10px; /* Add border radius for rounded corners */
}
.card h1 {
  font-weight: bold;
}
.card button {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity as needed */
  padding: 5px;
  border: 1px #fff solid;
  transition: 0.3s ease-in-out all;
}
.card button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  padding: 5px;
  border: 1px #fff solid;
  transition: 0.3s ease-in-out all;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out all;
}

body {
  color: #fff !important;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #162941 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -440px;
  left: 395px;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -10;
}

.star {
  --star-color: #6dd7fd;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 26s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 1750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.49em;
  --top-offset: 25.96vh;
  --fall-duration: 7.737s;
  --fall-delay: 5.699s;
}
.star:nth-child(2) {
  --star-tail-length: 6.31em;
  --top-offset: 8.88vh;
  --fall-duration: 9.263s;
  --fall-delay: 2.296s;
}
.star:nth-child(3) {
  --star-tail-length: 5.52em;
  --top-offset: 83.18vh;
  --fall-duration: 8.425s;
  --fall-delay: 1.152s;
}
.star:nth-child(4) {
  --star-tail-length: 6.48em;
  --top-offset: 69.02vh;
  --fall-duration: 6.63s;
  --fall-delay: 5.795s;
}
.star:nth-child(5) {
  --star-tail-length: 6.88em;
  --top-offset: 23.42vh;
  --fall-duration: 6.757s;
  --fall-delay: 5.231s;
}
.star:nth-child(6) {
  --star-tail-length: 7.26em;
  --top-offset: 52.93vh;
  --fall-duration: 9.617s;
  --fall-delay: 3.098s;
}
.star:nth-child(7) {
  --star-tail-length: 7.45em;
  --top-offset: 60.83vh;
  --fall-duration: 7.818s;
  --fall-delay: 2.119s;
}
.star:nth-child(8) {
  --star-tail-length: 6.03em;
  --top-offset: 17.07vh;
  --fall-duration: 7.772s;
  --fall-delay: 3.834s;
}
.star:nth-child(9) {
  --star-tail-length: 5.1em;
  --top-offset: 93.55vh;
  --fall-duration: 6.968s;
  --fall-delay: 7.197s;
}
.star:nth-child(10) {
  --star-tail-length: 5.98em;
  --top-offset: 23.28vh;
  --fall-duration: 6.72s;
  --fall-delay: 5.986s;
}
.star:nth-child(11) {
  --star-tail-length: 5.46em;
  --top-offset: 43.84vh;
  --fall-duration: 7.51s;
  --fall-delay: 5.03s;
}
.star:nth-child(12) {
  --star-tail-length: 7.05em;
  --top-offset: 58.69vh;
  --fall-duration: 9.32s;
  --fall-delay: 3.636s;
}
.star:nth-child(13) {
  --star-tail-length: 5.23em;
  --top-offset: 36.97vh;
  --fall-duration: 8.71s;
  --fall-delay: 6.548s;
}
.star:nth-child(14) {
  --star-tail-length: 6.8em;
  --top-offset: 74.11vh;
  --fall-duration: 7.765s;
  --fall-delay: 0.782s;
}
.star:nth-child(15) {
  --star-tail-length: 5.95em;
  --top-offset: 14.81vh;
  --fall-duration: 9.114s;
  --fall-delay: 4.512s;
}
.star:nth-child(16) {
  --star-tail-length: 5.55em;
  --top-offset: 30.66vh;
  --fall-duration: 8.5s;
  --fall-delay: 2.466s;
}
.star:nth-child(17) {
  --star-tail-length: 6.09em;
  --top-offset: 88.64vh;
  --fall-duration: 6.926s;
  --fall-delay: 2.729s;
}
.star:nth-child(18) {
  --star-tail-length: 5.76em;
  --top-offset: 55.48vh;
  --fall-duration: 9.53s;
  --fall-delay: 6.782s;
}
.star:nth-child(19) {
  --star-tail-length: 5.6em;
  --top-offset: 35.81vh;
  --fall-duration: 6.542s;
  --fall-delay: 7.773s;
}
.star:nth-child(20) {
  --star-tail-length: 5.42em;
  --top-offset: 29.72vh;
  --fall-duration: 9.223s;
  --fall-delay: 5.319s;
}
.star:nth-child(21) {
  --star-tail-length: 7.4em;
  --top-offset: 45.97vh;
  --fall-duration: 9.241s;
  --fall-delay: 1.738s;
}
.star:nth-child(22) {
  --star-tail-length: 5.15em;
  --top-offset: 62.61vh;
  --fall-duration: 7.488s;
  --fall-delay: 7.515s;
}
.star:nth-child(23) {
  --star-tail-length: 5.51em;
  --top-offset: 67.33vh;
  --fall-duration: 8.353s;
  --fall-delay: 0.572s;
}
.star:nth-child(24) {
  --star-tail-length: 6.33em;
  --top-offset: 37.21vh;
  --fall-duration: 8.491s;
  --fall-delay: 6.113s;
}
.star:nth-child(25) {
  --star-tail-length: 5.12em;
  --top-offset: 11.55vh;
  --fall-duration: 8.852s;
  --fall-delay: 1.921s;
}
.star:nth-child(26) {
  --star-tail-length: 5.02em;
  --top-offset: 3.62vh;
  --fall-duration: 8.34s;
  --fall-delay: 3.24s;
}
.star:nth-child(27) {
  --star-tail-length: 5.19em;
  --top-offset: 72.02vh;
  --fall-duration: 6.604s;
  --fall-delay: 7.757s;
}
.star:nth-child(28) {
  --star-tail-length: 5.09em;
  --top-offset: 83.1vh;
  --fall-duration: 7.972s;
  --fall-delay: 1.071s;
}
.star:nth-child(29) {
  --star-tail-length: 5.26em;
  --top-offset: 70.76vh;
  --fall-duration: 9.389s;
  --fall-delay: 2.659s;
}
.star:nth-child(30) {
  --star-tail-length: 5.61em;
  --top-offset: 92.13vh;
  --fall-duration: 6.441s;
  --fall-delay: 7.816s;
}
.star:nth-child(31) {
  --star-tail-length: 5.46em;
  --top-offset: 90.68vh;
  --fall-duration: 6.362s;
  --fall-delay: 4.685s;
}
.star:nth-child(32) {
  --star-tail-length: 6.7em;
  --top-offset: 41.55vh;
  --fall-duration: 6.863s;
  --fall-delay: 2.317s;
}
.star:nth-child(33) {
  --star-tail-length: 6.72em;
  --top-offset: 87.55vh;
  --fall-duration: 9.292s;
  --fall-delay: 4.506s;
}
.star:nth-child(34) {
  --star-tail-length: 7.21em;
  --top-offset: 39.64vh;
  --fall-duration: 9.056s;
  --fall-delay: 5.516s;
}
.star:nth-child(35) {
  --star-tail-length: 5.84em;
  --top-offset: 47.58vh;
  --fall-duration: 6.282s;
  --fall-delay: 5.031s;
}
.star:nth-child(36) {
  --star-tail-length: 5.45em;
  --top-offset: 50.34vh;
  --fall-duration: 9.179s;
  --fall-delay: 7.122s;
}
.star:nth-child(37) {
  --star-tail-length: 5.26em;
  --top-offset: 84.67vh;
  --fall-duration: 9.346s;
  --fall-delay: 0.861s;
}
.star:nth-child(38) {
  --star-tail-length: 6.9em;
  --top-offset: 99.76vh;
  --fall-duration: 6.674s;
  --fall-delay: 3.239s;
}
.star:nth-child(39) {
  --star-tail-length: 6.49em;
  --top-offset: 9.7vh;
  --fall-duration: 7.297s;
  --fall-delay: 1.812s;
}
.star:nth-child(40) {
  --star-tail-length: 6.33em;
  --top-offset: 70.83vh;
  --fall-duration: 7.813s;
  --fall-delay: 3.286s;
}
.star:nth-child(41) {
  --star-tail-length: 5.97em;
  --top-offset: 18.95vh;
  --fall-duration: 9.863s;
  --fall-delay: 4.672s;
}
.star:nth-child(42) {
  --star-tail-length: 6.05em;
  --top-offset: 53.11vh;
  --fall-duration: 7.039s;
  --fall-delay: 6.07s;
}
.star:nth-child(43) {
  --star-tail-length: 6.27em;
  --top-offset: 95.84vh;
  --fall-duration: 6.095s;
  --fall-delay: 3.827s;
}
.star:nth-child(44) {
  --star-tail-length: 6.96em;
  --top-offset: 5.56vh;
  --fall-duration: 7.323s;
  --fall-delay: 7.578s;
}
.star:nth-child(45) {
  --star-tail-length: 6.3em;
  --top-offset: 27.62vh;
  --fall-duration: 8.262s;
  --fall-delay: 4.826s;
}
.star:nth-child(46) {
  --star-tail-length: 5.41em;
  --top-offset: 84.8vh;
  --fall-duration: 6.704s;
  --fall-delay: 6.511s;
}
.star:nth-child(47) {
  --star-tail-length: 6.52em;
  --top-offset: 32.43vh;
  --fall-duration: 9.169s;
  --fall-delay: 7.174s;
}
.star:nth-child(48) {
  --star-tail-length: 6.54em;
  --top-offset: 41.86vh;
  --fall-duration: 6.094s;
  --fall-delay: 5.665s;
}
.star:nth-child(49) {
  --star-tail-length: 7.18em;
  --top-offset: 93.59vh;
  --fall-duration: 9.542s;
  --fall-delay: 5.126s;
}
.star:nth-child(50) {
  --star-tail-length: 6.78em;
  --top-offset: 40.47vh;
  --fall-duration: 7.06s;
  --fall-delay: 3.439s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 12s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the divs horizontally */
  margin-top: 20px; /* Adjust top margin as needed */
  margin-left: 270px;
}

.logo_items {
  margin-left: 5%;
}

.summary-row {
  display: flex;
  justify-content: space-between; /* Space out the cards within each row */
}

.summary-card {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  background-color: #E5E4E2;
  border-radius: 10px;
  margin-left: 50px; /* Adjust margin to match sidebar width */
  text-align: center;
  margin-bottom: 20px; /* Adjust bottom margin as needed */
  float: right;
}

.summary-card h2 {
  margin-top: 0;
}

.summary-card img {
  width: 50px; /* Adjust icon size as needed */
  margin-bottom: 10px;
}

h2 {
  color: black;
}

p {
  color: black;
}

.page-content {
  padding: 0px !important;
}

.container-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 18vh; /* 20% of the viewport height */
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  background-color: #2a2930;
}

.sumText {
  margin-left: 330px;
}

#initName {
  height: 50px;
  font-size: 36px;
  margin-bottom: 10px;
}

#detailText {
  font-size: 22.5px;
}

.allBoxes {
  margin-top: 12%;
}

.summary-row {
  margin-top: 2%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  width: 105px !important;
  height: auto !important;
}

.logo_name {
  font-size: 65px;
  margin-left: 10px;
}

.logo_items flex {
  margin-left: 10px;
}

#sidebar_close {
  height: 50px;
}

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
/*-----------------------------------*/
.chatbox {
  padding: 25px;
}

.send {
  width: 10%;
  display: inline;
}

.User {
  text-align: right;
}

.AI {
  text-align: left;
}

.AI-input {
  width: 89%;
  border-radius: 5px;
  display: inline;
}/*# sourceMappingURL=custom-styles.css.map */