  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the divs horizontally */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-left: 270px;
  }

  .logo_items {
    margin-left: 5%;
  }
  
  .summary-row {
    display: flex;
    justify-content: space-between; /* Space out the cards within each row */
  }
  
  .summary-card {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background-color: #E5E4E2;
    border-radius: 10px;
    margin-left: 50px; /* Adjust margin to match sidebar width */
    text-align: center;
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    float: right;
  }

  .account-card {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background-color: #E5E4E2;
    border-radius: 10px;
    margin-left: 80%; /* Adjust margin to match sidebar width */
    text-align: center;
    margin-bottom: 20px; /* Adjust bottom margin as needed */
    position: absolute;
  }
  
  .summary-card h2 {
    margin-top: 0;
  }
  
  .summary-card img {
    width: 50px; /* Adjust icon size as needed */
    margin-bottom: 10px;
  }

  h2 {
    color: black;
  }

  p {
    color: black;
  }
